{% extends 'layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="py-5 col-md-3 col-6 container text-center">
        <form action="/register" method="post">
            <div class="mb-3">
                <input type="text" class="inputColor form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="username" placeholder="Username" autocomplete="off" autofocus>
            </div>
            <div class="mb-3">
                <input type="password" class="inputColor form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="inputColor form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="confirmation" placeholder="Password(again)">
            </div>
            <button type="submit" class="btn buttonColor">Register</button>
        </form>
    </div>
{% endblock %}